.rightcontent { 
    width: 25rem;
    padding: 0px 10px 0px 10px;
    border-left: 1px solid gray;
    margin: 10px 0px 0px 10px    
}

.rightcontent_top {
    border-bottom:1px solid gray;
    padding-bottom: 26px
}

.rightcontent_top > img {
    width: 24rem;
}

.rightcontent_top > h1 {
    font-size: 1.5rem;
    margin-top: 10px
}

.rightcontent_top > p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 30px;
}